[requires]
python_version = "3.8.5"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
QtPy = {version="*", index="pypi"}
PyQt5 = {version="*", index="pypi"}
PyQtWebEngine = {version="*", index="pypi"}
psutil = {version="*", index="pypi"}
arrow = {version="*", index="pypi"}
requests = {version="*", index="pypi"}
orderedset = {version="*", index="pypi"}
markdown2 = {version="*", index="pypi"}
pywin32 = {version="*", index="pypi", platform_system="== 'Windows'"}

[dev-packages]
PyInstaller = {version="*"}
